---
import BaseLayout from '../layouts/Layout.astro';
---

<BaseLayout>


  <header>
    <h1>Prewound Bobbins</h1>
  </header>

  <section class="heading">
    <div>
      <h2>Prewound Bobbins</h2>
      <p>Find the right prewound bobbin for your machine.</p>
    </div>
  </section>

  <section class="instructions">
    <h3>Instructions</h3>
    <p>
     Welcome to PrewoundBobbins.com! We have compiled bobbin information for many sewing machines and longarm quilting machines. To see what style of bobbin your machine uses, scroll through the list of machines below and select the brand in the first column, then select the machine model in the second column, followed by selecting the corresponding prewound bobbins if applicable. Some machines use a unique bobbin and as such, prewound bobbins aren't available. Once you have gone through the selection process, click on a prewound bobbin result and you will be redirected to <span style="color:#8847FF;">www.superiorthreads.com</span> where you can learn more about the recommended prewound bobbins for your machine.
    </p>
  </section>

 <section class="prewounds">
  <div class="prewound">
    <img src="https://cdn.superiorthreads.com/bobbinfinder/images/bobbin-mstyle.jpg" title="Class 15 prewounds" alt="Class 15">
    <p>Class 15 Prewounds</p>
  </div>

  <div class="prewound">
    <img src="https://cdn.superiorthreads.com/bobbinfinder/images/bobbin-mstyle.jpg" title="L-Style prewounds" alt="L-Style">
    <p>L-Style Prewounds</p>
  </div>

  <div class="prewound">
    <img src="https://cdn.superiorthreads.com/bobbinfinder/images/bobbin-mstyle.jpg" title="M-Style prewounds" alt="M-Style">
    <p>M-Style Prewounds</p>
  </div>
</section>
 

  <section class="bottom">
	  <div class="steps-container">
    <div class="step-box">
      <div class="step-title">Step 1</div>
      <div class="step-heading">Machine Brand</div>
       <ul class="brandlist">
         <li onclick="showModels('A1')">A1</li>
         <li onclick="showModels('APQS')">APQS</li>
         <li onclick="showModels('BabyLock')">BabyLock</li>
         <li onclick="showModels('BaileyHomeQuilter')">BaileyHomeQuilter</li>
         <li onclick="showModels('Bernette')">Bernette</li>
         <li onclick="showModels('Bernina')">Bernina</li>
          <li onclick="showModels('BlockRockiT')">Block RockiT</li>
         <li onclick="showModels('Brother')">Brother</li>
           <li onclick="showModels('Elna')">Elna</li>
         <li onclick="showModels('Eversewn')">Eversewn</li>
          <li onclick="showModels('Gammill')">Gammill</li>
         <li onclick="showModels('HandiQuilter')">Handi Quilter</li>
           <li onclick="showModels('Hinterberg')">Hinterberg</li>
         <li onclick="showModels('Husqvarna')">Husqvarna</li>
          <li onclick="showModels('Innova')">Innova</li>
         <li onclick="showModels('Janome')">Janome</li>
          <li onclick="showModels('Juki')">Juki</li>
          <li onclick="showModels('KenQuilt')">Ken Quilt</li>
          <li onclick="showModels('Kenmore')">Kenmore</li>
          <li onclick="showModels('KingQuilter')">King Quilter</li>
          <li onclick="showModels('Martelli')">Martelli</li>
          <li onclick="showModels('Necchi')">Necchi</li>
          <li onclick="showModels('NewHome')">New Home</li>
          <li onclick="showModels('Nolting')">Nolting</li>
          <li onclick="showModels('Pfaff')">Pfaff</li>
          <li onclick="showModels('Prodigy')">Prodigy</li>
          <li onclick="showModels('Qnique')">Q'nique</li>
          <li onclick="showModels('Riccar')">Riccar</li>
          <li onclick="showModels('Simplicity')">Simplicity</li>
          <li onclick="showModels('Singer')">Singer</li>
          <li onclick="showModels('Sunshine')">Sunshine</li>
          <li onclick="showModels('TinLizzie')">Tin Lizzie</li>
          <li onclick="showModels('Viking')">Viking</li>
          <li onclick="showModels('White')">White</li>

      </ul>
    </div>
    <div class="step-box">
      <div class="step-title">Step 2</div>
      <div class="step-heading">Machine Model</div>
       <ul class="model-list hidden" id="modelList">
        
        </ul>
    </div>
    <div class="step-box">
      <div class="step-title">Step 3</div>
      <div class="step-heading">Bobbin Style</div>
    </div>
    <div class="step-box">
      <div class="step-title">Step 4</div>
      <div class="step-heading">Superior's Prewounds</div>
    </div>
  </div>


<script is:inline>
  const modelMap = {
    A1: ["Elite", "Elite Platinum"],
    APQS:[
  "Freedom (Big Bobbin)",
  "Freedom (Smart Bobbin)",
  "George (Big Bobbin)",
  "George (Smart Bobbin)",
  "Lenni (Big Bobbin)",
  "Lenni (Smart Bobbin)",
  "Liberty (Big Bobbin)",
  "Liberty (Smart Bobbin)",
  "Lucey (Big Bobbin)",
  "Lucey (Smart Bobbin)",
  "Millennium (Big Bobbin)",
  "Millennium (Smart Bobbin)",
  "Ultimate I (Big Bobbin)",
  "Ultimate I (Smart Bobbin)",
  "Ultimate II (Big Bobbin)",
  "Ultimate II (Smart Bobbin)"
],

    BabyLock: [
  "1550 Companion",
  "Alliance",
  "Amelia",
  "Anna",
  "Aria",
  "Audrey",
  "Aventura",
  "BL2300",
  "BL6600",
  "BL9",
  "Companion",
  "Coronet",
  "Crafter's Choice",
  "Creative Pro (BL37, BL40)",
  "Crescendo",
  "Crown Jewel",
  "Decorator's Choice",
  "Design Pro",
  "Destiny",
  "Elizabeth",
  "Ellageo (BLL2)",
  "Ellageo (ESG3)",
  "Ellageo Plus",
  "Ellageo Plus (BLL2)",
  "Ellegante",
  "Ellisimo",
  "Ellisimo Gold",
  "Ellure (BLR, BLR2, BLR3)",
  "Ellure (ESL)",
  "Ellure Plus",
  "Embroidery Professional",
  "EMORE",
  "Encore",
  "Endurance 6 needle",
  "Endurance II",
  "Enterprise 10-needle",
  "Esante (BLN, BLN2)",
  "Esante (ESI, ESI2, ESE, ESE2)",
  "Espire",
  "Flourish",
  "Grace",
  "Intrique",
  "Jane",
  "Jewel",
  "Journey",
  "Katherine",
  "Lyric",
  "Maria",
  "Melody",
  "Molly",
  "Quest",
  "Quest Plus",
  "Quilter's Choice (BLQC)",
  "Quilter's Choice (BLQC2)",
  "Quilter's Choice Pro (BLQP)",
  "Rachel",
  "Sashiko/Sashiko2",
  "Serenade",
  "Sofia/Sofia2",
  "Soprano",
  "Spirit",
  "Symphony",
  "Tempo",
  "Tiara",
  "Tiara II",
  "Unity",
  "Valiant"
],

    BaileyHomeQuilter: ["Pro 15", "Pro 17E"]
,  

    Bernette: ["Chicago 7"],
    Bernina: [
  "1000",
  "1001",
  "1004",
  "1005",
  "1006",
  "1008",
  "1010",
  "1011",
  "1015",
  "1020",
  "1030",
  "1031",
  "108",
  "1080",
  "1090",
  "1090S",
  "1120",
  "1130",
  "120",
  "1230",
  "125",
  "125S",
  "1260",
  "130",
  "131",
  "135",
  "140",
  "145",
  "150",
  "153",
  "1530",
  "155",
  "160",
  "163",
  "1630 Inspiration",
  "165",
  "170",
  "180e",
  "1850 Inspiration",
  "200",
  "210",
  "220",
  "230",
  "240",
  "330",
  "340",
  "350",
  "430",
  "435",
  "440",
  "440QE",
  "450",
  "475QE",
  "530",
  "532",
  "534",
  "550",
  "550QE",
  "560",
  "580",
  "600",
  "610",
  "630",
  "630E",
  "635",
  "640",
  "640 E",
  "642",
  "644",
  "700",
  "707",
  "708",
  "709",
  "710",
  "717",
  "718",
  "719",
  "730",
  "731",
  "732",
  "735",
  "740",
  "750",
  "770 QE",
  "780",
  "790",
  "800",
  "801",
  "802",
  "803",
  "807",
  "808",
  "809",
  "810",
  "811",
  "817",
  "818",
  "819",
  "820",
  "830 (New Model)",
  "830 (Old Model)",
  "831",
  "832",
  "880",
  "900",
  "910",
  "930",
  "931",
  "932",
  "950",
  "Activa 130",
  "Activa 210",
  "Activa 230",
  "Activa 240",
  "Artista 165",
  "Artista 170",
  "Artista 180",
  "Artista 185",
  "Artista 185QEE",
  "Artista 190",
  "Artista 200E",
  "Artista 580",
  "Artista 630E",
  "Artista 635",
  "Artista 640",
  "Artista 640E",
  "Artista 730",
  "Aurora 430",
  "Aurora 430QEE",
  "Aurora 435",
  "Aurora 440",
  "Aurora 440 QE",
  "Aurora 440QEE",
  "Aurora 450",
  "B215",
  "B350",
  "B380",
  "B560",
  "B570 QE",
  "B765",
  "Bernette 730E",
  "Bernette 740E",
  "Bernette 80E",
  "Deco 300",
  "Deco 330",
  "Deco 340",
  "Deco 350",
  "Deco 500",
  "Deco 600",
  "Deco 650",
  "Deco 930",
  "E 16",
  "Q20",
  "Q24",
  "QE 550",
  "Virtuosa 150",
  "Virtuosa 153",
  "Virtuosa 160"
]
,
    BlockRockiT: ["Mid-Arm"],
    Brother: [
  "180",
  "200",
  "300S",
  "400D",
  "4500",
  "600",
  "8200",
  "8550D",
  "888-V14",
  "990D",
  "BB 370",
  "BC 1000",
  "BM 2800",
  "BP 2100",
  "BX2925PRW",
  "CE 4000",
  "CE 4400",
  "CE 5000PRW",
  "CE 5500PRW",
  "CE 7070PRW",
  "CE 8080PRW",
  "CE1100PRW",
  "CP 6500",
  "CP 7500",
  "CP2410",
  "CS 100T",
  "CS 5055 PRW",
  "CS 6000",
  "CS 6000B",
  "CS 6000i",
  "CS 6000T",
  "CS 8072",
  "CS 8150",
  "CS8800PRW",
  "CX205LA",
  "Designio DZ3000",
  "Designio DZ820E",
  "Designio Series DZ2400",
  "Dream Machine XV8500D",
  "DreamCreator VQ2400",
  "DreamCreator XE VM5100",
  "DreamMaker XE VE2200",
  "DreamWeaver VQ3000",
  "DreamWeaver XE VM6200D",
  "Duetta 2 4750D",
  "Duetta 4500D",
  "Entrepreneur PR650",
  "Entrepreneur PR650e",
  "Entrepreneur PR655",
  "Entrepreneur Pro PR1000",
  "Entrepreneur Pro PR1000e",
  "ES 2000",
  "EX 660",
  "FS130QC",
  "GS2700",
  "HC-1850",
  "HE 1",
  "HE 120",
  "HE 240",
  "HS 2000",
  "HS 2500",
  "HS 3000",
  "Innovis 1000",
  "Innovis 1200",
  "Innovis 1250D",
  "Innovis 1500D",
  "Innovis 2500D",
  "Innovis 2800D",
  "Innovis 40",
  "Innovis 4000D",
  "Innovis 4000DLTD",
  "Innovis 4540D",
  "Innovis 5100",
  "Innovis 6000D",
  "Innovis 750E",
  "Innovis 80",
  "Innovis 900D",
  "Innovis 950D",
  "Innovis 990D",
  "Innovis NQ1300PRW",
  "Innovis NQ3500D",
  "Innovis NQ700PRW",
  "Innovis NQ900PRW",
  "Innovis NV800e",
  "Innovis NX 570Q",
  "Isodor Innovis 5000",
  "JX2517",
  "Laura Ashley",
  "Laura Ashley CX155LA",
  "Laura Ashley Innovis NX-800",
  "Laura Ashley Innovis NX2000",
  "LB 6770 PRW",
  "LB 6800 PRW",
  "LB 6800THRD",
  "LB2600i",
  "LS",
  "LS 1217",
  "LS 2125i",
  "LS 2150",
  "LS 30",
  "LS 590",
  "LS2125",
  "LS2400",
  "LX 2500",
  "LX 2763",
  "LX 3125",
  "LX 3125E",
  "LX 3850",
  "Nouvelle 1500S",
  "NQ1400E",
  "NS35",
  "NV6750D",
  "NX 200",
  "NX 250",
  "NX 400",
  "NX 400Q",
  "NX 450",
  "NX 450Q",
  "NX 600",
  "NX 650Q",
  "Opus 191",
  "Pacesetter PS 21",
  "Pacesetter PS 2700",
  "Pacesetter PS 3700",
  "PC 210",
  "PC 210PRW",
  "PC 2800",
  "PC 3000",
  "PC 420",
  "PC 420PRW",
  "PC 6000",
  "PC 6500",
  "PC 7000",
  "PC 7500",
  "PC 8200",
  "PC 8500",
  "PC 8500D",
  "PE - 400D",
  "PE - 500",
  "PE - 700",
  "PE - 700II",
  "PE - 750D",
  "PE - 770",
  "PE - 780D",
  "PE 100",
  "PE 150",
  "PE 150V",
  "PE 170D",
  "PE 180",
  "PE 180D",
  "PE 190",
  "PE 200",
  "PE 300",
  "PE 300S",
  "Persona",
  "PQ 1500S",
  "PQ1500",
  "PR - 1000",
  "PR - 600",
  "PR - 600II",
  "PR - 620",
  "PR - 650",
  "PR - 655",
  "Project Runway Innovis 40e",
  "Project Runway Innovis 85e",
  "PS 1000",
  "PS 1250",
  "PS 2200",
  "PS 2300",
  "PS 2500",
  "QC 1000",
  "Quatro NV6000D",
  "Quattro 2 6700D",
  "Quattro 3 Trilogy Limited Edition Innovis 6750D",
  "Quattro 6000D",
  "SC 9500",
  "SE 270D",
  "SE 350",
  "SE 400",
  "SE425",
  "Simplicity SB170",
  "Simplicity SB3129",
  "Simplicity SB530T",
  "Simplicity SB700t",
  "Simplicity SB7050E",
  "Simplicity SB7500",
  "Simplicity SB7900E",
  "SM3701",
  "SM8270",
  "SQ9000",
  "SQ9050",
  "SQ9130",
  "SQ9185",
  "SQ9285",
  "Super Galaxie",
  "The Dream Machine XV8500D",
  "ULT - 2001",
  "ULT - 2003D",
  "ULT2002D",
  "VX",
  "VX 1435",
  "XB 2510",
  "XL",
  "XL 2230",
  "XL 2600",
  "XL 2600i",
  "XL 2610",
  "XL 2800",
  "XL 3100",
  "XL 3500",
  "XL 3500T",
  "XL 3510",
  "XL 3750",
  "XL 5130",
  "XL 5232",
  "XL 5340",
  "XL 5500",
  "XL 5600",
  "XL 5700",
  "XL 6452",
  "XL 6562",
  "XM 2701",
  "XR",
  "XR 1300",
  "XR 1335",
  "XR 3240",
  "XR 3774",
  "XR 40",
  "XR 4040",
  "XR 46C",
  "XR 52C",
  "XR 65T",
  "XR 7700",
  "XR 9000",
  "XR 9500PRW",
  "XS3109",
  "XS37",
  "XV 8500D"
]
,
   Elna: [
    "180",
    "200",
    "300S",
    "400D",
    "4500",
    "600",
    "8200",
    "8550D",
    "888-V14",
    "990D",
    "BB 370",
    "BC 1000",
    "BM 2800",
    "BP 2100",
    "BX2925PRW",
    "CE 4000",
    "CE 4400",
    "CE 5000PRW",
    "CE 5500PRW",
    "CE 7070PRW",
    "CE 8080PRW",
    "CE1100PRW",
    "CP 6500",
    "CP 7500",
    "CP2410",
    "CS 100T",
    "CS 5055 PRW",
    "CS 6000",
    "CS 6000B",
    "CS 6000i",
    "CS 6000T",
    "CS 8072",
    "CS 8150",
    "CS8800PRW",
    "CX205LA",
    "Designio DZ3000",
    "Designio DZ820E",
    "Designio Series DZ2400",
    "Dream Machine XV8500D",
    "DreamCreator VQ2400",
    "DreamCreator XE VM5100",
    "DreamMaker XE VE2200",
    "DreamWeaver VQ3000",
    "DreamWeaver XE VM6200D",
    "Duetta 2 4750D",
    "Duetta 4500D",
    "Entrepreneur PR650",
    "Entrepreneur PR650e",
    "Entrepreneur PR655",
    "Entrepreneur Pro PR1000",
    "Entrepreneur Pro PR1000e",
    "ES 2000",
    "EX 660",
    "FS130QC",
    "GS2700",
    "HC-1850",
    "HE 1",
    "HE 120",
    "HE 240",
    "HS 2000",
    "HS 2500",
    "HS 3000",
    "Innovis 1000",
    "Innovis 1200",
    "Innovis 1250D",
    "Innovis 1500D",
    "Innovis 2500D",
    "Innovis 2800D",
    "Innovis 40",
    "Innovis 4000D",
    "Innovis 4000DLTD",
    "Innovis 4540D",
    "Innovis 5100",
    "Innovis 6000D",
    "Innovis 750E",
    "Innovis 80",
    "Innovis 900D",
    "Innovis 950D",
    "Innovis 990D",
    "Innovis NQ1300PRW",
    "Innovis NQ3500D",
    "Innovis NQ700PRW",
    "Innovis NQ900PRW",
    "Innovis NV800e",
    "Innovis NX 570Q",
    "Isodor Innovis 5000",
    "JX2517",
    "Laura Ashley",
    "Laura Ashley CX155LA",
    "Laura Ashley Innovis NX-800",
    "Laura Ashley Innovis NX2000",
    "LB 6770 PRW",
    "LB 6800 PRW",
    "LB 6800THRD",
    "LB2600i",
    "LS",
    "LS 1217",
    "LS 2125i",
    "LS 2150",
    "LS 30",
    "LS 590",
    "LS2125",
    "LS2400",
    "LX 2500",
    "LX 2763",
    "LX 3125",
    "LX 3125E",
    "LX 3850",
    "Nouvelle 1500S",
    "NQ1400E",
    "NS35",
    "NV6750D",
    "NX 200",
    "NX 250",
    "NX 400",
    "NX 400Q",
    "NX 450",
    "NX 450Q",
    "NX 600",
    "NX 650Q",
    "Opus 191",
    "Pacesetter PS 21",
    "Pacesetter PS 2700",
    "Pacesetter PS 3700",
    "PC 210",
    "PC 210PRW",
    "PC 2800",
    "PC 3000",
    "PC 420",
    "PC 420PRW",
    "PC 6000",
    "PC 6500",
    "PC 7000",
    "PC 7500",
    "PC 8200",
    "PC 8500",
    "PC 8500D",
    "PE - 400D",
    "PE - 500",
    "PE - 700",
    "PE - 700II",
    "PE - 750D",
    "PE - 770",
    "PE - 780D",
    "PE 100",
    "PE 150",
    "PE 150V",
    "PE 170D",
    "PE 180",
    "PE 180D",
    "PE 190",
    "PE 200",
    "PE 300",
    "PE 300S",
    "Persona",
    "PQ 1500S",
    "PQ1500",
    "PR - 1000",
    "PR - 600",
    "PR - 600II",
    "PR - 620",
    "PR - 650",
    "PR - 655",
    "Project Runway Innovis 40e",
    "Project Runway Innovis 85e",
    "PS 1000",
    "PS 1250",
    "PS 2200",
    "PS 2300",
    "PS 2500",
    "QC 1000",
    "Quatro NV6000D",
    "Quattro 2 6700D",
    "Quattro 3 Trilogy Limited Edition Innovis 6750D",
    "Quattro 6000D",
    "SC 9500",
    "SE 270D",
    "SE 350",
    "SE 400",     "SE425",
    "Simplicity SB170",
    "Simplicity SB3129",
    "Simplicity SB530T",
    "Simplicity SB700t",
    "Simplicity SB7050E",
    "Simplicity SB7500",
    "Simplicity SB7900E",
    "SM3701",
    "SM8270",
    "SQ9000",
    "SQ9050",
    "SQ9130",
    "SQ9185",
    "SQ9285",
    "Super Galaxie",
    "The Dream Machine XV8500D",
    "ULT - 2001",
    "ULT - 2003D",
    "ULT2002D",
    "VX",
    "VX 1435",
    "XB 2510",
    "XL",
    "XL 2230",
    "XL 2600",
    "XL 2600i",
    "XL 2610",
    "XL 2800",
    "XL 3100",
    "XL 3500",
    "XL 3500T",
    "XL 3510",
    "XL 3750",
    "XL 5130",
    "XL 5232",
    "XL 5340",
    "XL 5500",
    "XL 5600",
    "XL 5700",
    "XL 6452",
    "XL 6562",
    "XM 2701",
    "XR",
    "XR 1300",
    "XR 1335",
    "XR 3240",
    "XR 3774",
    "XR 40",
    "XR 4040",
    "XR 46C",
    "XR 52C",
    "XR 65T",
    "XR 7700",
    "XR 9000",
    "XR 9500PRW",
    "XS3109",
    "XS37",
    "XV 8500D"
  ]
,
    Eversewn: ["Sparrow 25 "],
    Gammill: ["Charm", "Classic", "Optimum", "Premier", "Statler", "Vision"],
    HandiQuilter: ["Avante", "Forte", "Fusion", "Infinity", "Simply Sixteen", "Sixteen", "Sweet Sixteen"]
,
    Hinterberg: ["Indigo 19\"", "Voyager 17", "Weekender 11\""]
,
    Husqvarna: [
  "#1", "#1+", "100", "1100", "1200", "185 optima", "200", "2000", "205", "210", "215", "225", "230", "250", "300",
  "3000", "310", "315", "320", "325", "330", "335", "340", "350", "360", "370", "400", "415", "425", "435", "445",
  "500", "530", "535", "540", "545", "550", "555", "600", "6019QC", "605", "6430", "715", "730", "735", "750", 
  "750 Quilt", "755", "755 Quilt", "770", "775", "830", "835", "850", "855", "870", "950 E", "955 E", "Angelica",
  "Anna", "C10", "Daisy 310", "Daisy 315", "Daisy 320", "Daisy 325", "Daisy 330", "Daisy 335", "Designer Diamond",
  "Designer Diamond Royale", "Designer Epic", "Designer I", "Designer II", "Designer III", "Designer Ruby",
  "Designer SE", "Designer Topaz 20", "Designer Topaz 30", "Designer Topaz 40", "Diamond", "Diamond Royale",
  "Eden Rose 250C", "Emerald", "Emerald 183", "Emma", "Epic", "Facette 500/400", "Freesia 350", "Freesia 400",
  "Freesia 415", "Freesia 425", "Freesia 435", "Freesia 445", "Freesia 500", "Hugin", "Huskystar 224",
  "Huskystar C20", "Interlude 435", "Interlude 445", "Iris", "Jeans", "Juliet", "Lena", "Lily 530", "Lily 535",
  "Lily 540", "Lily 545", "Lily 550", "Lily 555", "Lisa", "Mega Quilter", "Mega Quilter 18x8", "Opal 650",
  "Opal 690Q", "Oscar", "Platinum 16", "Platinum 3000", "Platinum 715", "Platinum 730", "Platinum 735",
  "Platinum 750", "Platinum 750 Quilt", "Platinum 755 Quilt", "Platinum 950E", "Platinum 955E", "Platinum Plus",
  "Platinum Plus 755", "Platinum Plus 770", "Platinum Plus 775", "Prelude 340", "Prelude 350", "Prelude 360",
  "Prelude 370", "Prisma 990", "Prisma 990 S", "Quilt Designer", "Quilt Designer II", "Romeo", "Rose", "Rose 600",
  "Rose 605", "Ruby Deluxe", "Sapphire", "Sapphire 835", "Sapphire 875Q", "Sapphire 930", "Sarah 205", "Sarah 210",
  "Sarah 215", "Sarah 225", "Sarah 230", "Sarah 250", "Scandinavia 100", "Scandinavia 200", "Scandinavia 300",
  "Scandinavia 400", "SLE 6570", "Sophia", "Topaz 25", "Topaz 50", "Tribute", "Victoria", "Viva"
]
,
    Innova: ["18\"", "22\"", "26\"", "32\"", "Sit Down"]
,
    Janome: [
  "1000CPX", "128", "15000", "1600P", "1600QCP", "2000CPX", "2030QDC", "2139N", "2206", "2212", "2222", "3128", "3160QDC", "350e", "41012", "4120QDC", "415", "4618QC", "4900", "49018", "49360", "500E", "5812", "6125QC", "6260QC", "6300P", "6500", "6600", "712T", "720", "7700QCP", "8050", "8077", "8200QC", "8200QCP", "8900", "8900QCP", "8900QPR", "900CPX", "AQS 2009", "Artistic Quilter", "Artistic SD 16", "Atelier 5", "Classmate S-750", "Cooper Pro 5000Q", "DC1018", "DC1050", "DC2012", "DC2013", "DC2014", "DC2015", "DC3018", "DC3050", "DC4030P", "DC5100", "Decor Excel Pro 5124", "DLX 603", "FM-725", "Harmony 8080", "HD1000", "HD3000", "HD5000", "Hello Kitty 11706", "Hello Kitty 13512", "Hello Kitty 14412", "Hello Kitty 15312", "Hello Kitty 15822", "Hello Kitty 18750", "HT2008LE", "Jem Gold 660", "Jem Platinum 760", "JNH2030DC", "JNH720", "JNH7700", "JP720", "JW5622", "JW7630", "Magnolia 7318", "Magnolia 7325", "Magnolia 7330", "Magnolia 7360", "Marie Osmond 200", "MB-4N", "MB4S", "MC 5900", "MC 9400", "MC10000", "MC10001", "MC11000", "MC12000", "MC15000", "MC200E", "MC3000", "MC300E", "MC3500", "MC350E", "MC4000", "MC4800QC", "MC4900QC", "MC5000", "MC5700", "MC6300", "MC6500", "MC6600", "MC720", "MC760", "MC7700 QCP", "MC7700QPC", "MC8000", "MC8200QCPSE", "MC8700", "MC8900", "MC8900SE", "MC9000", "MC9400 QCP", "MC9500", "MC9700", "MC9900", "MCJNH7700QCP", "Memory Craft 500E", "MS 2522", "MyStyle 100", "New Home 7000", "New Home SW2018E", "NQM 2016", "QC6019", "QS2250", "S-3015", "S-7330", "S-750", "Sewist 500", "SewMini", "SewMini Beachcomber", "SewMini Honeycomb", "SewMini Merlot", "Skyline 9", "Skyline S5", "Skyline S7", "Skyline SKS5"
]
,
    Juki: [
  "E 80",
  "Exceed Home Deco HZL-F300",
  "Exceed Quilt & Pro HZL-F400",
  "Exceed Quilt & Pro Special HZL-F600",
  "HZL",
  "HZL-G110",
  "J-150QVP",
  "T-100",
  "TL 2010Q",
  "TL 2200QVP",
  "TL 98",
  "TL 98Q",
  "TL 98QE"
]
,
    KenQuilt: [
  "622",
  "622",
  "633",
  "Dutchess",
  "Empress",
  "Princess",
  "Royal"
]
,
    Kenmore: [
  "10101",
  "1020",
  "1030",
  "1040",
  "1045",
  "1050",
  "11101",
  "1204",
  "1206",
  "1230",
  "1240",
  "1250",
  "12551",
  "12621",
  "1300",
  "1318",
  "1430",
  "1431",
  "14401",
  "14501",
  "14502",
  "14571",
  "14572",
  "148",
  "1500",
  "158",
  "158.1251",
  "158.1345",
  "158.1703",
  "158.1774",
  "1641",
  "1750",
  "1791",
  "19365",
  "1940",
  "1941",
  "385",
  "385.162313",
  "385.1883",
  "385.1911",
  "5186",
  "Mini Ultra",
  "Model 50"
]
,
    KingQuilter: ["18x8"],
    Martelli: ["Prima", "Sedere"],
    Necchi: ["3205FA", "537FA", "549", "EC100", "EV7", "EX100", "EX30", "EX60", "FA16", "FB12", "HD22", "Logica", "NE30", "QS60", "Silvia", "Sofia 300", "Supernova", "TM8"]
,
    NewHome: ["914", "915", "Memory Craft 6000", "No. 14", "No. 15", "No. 4", "No. 5", "Parlor Cabinet Treadle", "SX 2122"]
,
    Nolting:[
  "18/8 368",
  "18/8 387",
  "Fun Quilter 17",
  "Fun Quilter 17 (Large Hook)",
  "Fun Quilter 20",
  "Fun Quilter 20 (Large Hook)",
  "Fun Quilter 23",
  "Fun Quilter 23 (Large Hook)",
  "Mid Arm Quilter",
  "Mid Arm Quilter (Large Hook)",
  "Pro Series 20",
  "Pro Series 20 (Large Hook)",
  "Pro Series 24",
  "Pro Series 24 (Large Hook)",
  "Pro Series 30",
  "Pro Series 30 (Large Hook)",
  "Quilting Bee",
  "Quilting Bee (Large Hook)"
]
,
    Pfaff:[
  "1000",
  "1151",
  "1171",
  "1196",
  "1197",
  "1211",
  "1212",
  "1213",
  "1214",
  "1216",
  "1217",
  "1222",
  "1222E",
  "1229",
  "130",
  "1371",
  "138",
  "145",
  "1465",
  "1467",
  "1469",
  "1471",
  "1472",
  "1473",
  "1475",
  "1475CD",
  "1495",
  "1520",
  "1522",
  "1524",
  "1525",
  "1526",
  "1527",
  "1530",
  "1532",
  "1534",
  "1536",
  "1540",
  "1542",
  "1546",
  "18x8 Longarm",
  "2010",
  "2014",
  "2020",
  "2024",
  "2025",
  "2026",
  "2027",
  "2030",
  "2032",
  "2034",
  "2036",
  "204",
  "2040",
  "2042",
  "2044",
  "2046",
  "205",
  "2054",
  "2056",
  "206",
  "207",
  "208",
  "209",
  "210",
  "211",
  "2124",
  "213",
  "2140",
  "2144",
  "2170",
  "229",
  "230",
  "234",
  "238",
  "260",
  "261",
  "262",
  "30",
  "331",
  "332",
  "333",
  "335",
  "362",
  "4240",
  "4250",
  "4260",
  "437",
  "438",
  "439",
  "463",
  "480",
  "481",
  "483",
  "521",
  "541",
  "563",
  "6",
  "60",
  "6085",
  "6091",
  "6112",
  "6120",
  "6122",
  "6150",
  "6152",
  "6230",
  "6232",
  "6250",
  "6252",
  "721",
  "741",
  "7510",
  "7530",
  "7550",
  "7560",
  "7562",
  "7570",
  "79",
  "807",
  "90",
  "900",
  "9063",
  "Ambition 1.0",
  "Ambition 1.5",
  "Ambition 2.0",
  "Ambition Essential",
  "Classic 2023",
  "Classic Style 1525",
  "ClassicStyle",
  "Classicstyle 2023",
  "Classicstyle 2025",
  "Classicstyle 2027",
  "Classicstyle 2029",
  "Creative 1.5",
  "Creative 1425CD",
  "Creative 1439",
  "Creative 1471",
  "Creative 1473",
  "Creative 1475CD",
  "Creative 2.0",
  "Creative 2124",
  "Creative 2134",
  "Creative 2140",
  "Creative 2144",
  "Creative 2170",
  "Creative 3.0",
  "Creative 4.0",
  "Creative 4.5",
  "Creative 7530",
  "Creative 7550",
  "Creative 7560",
  "Creative 7562",
  "Creative 7570",
  "Creative Performance",
  "Creative Sensation",
  "Creative Sensation Pro",
  "Creative Sensation Pro II",
  "Creative Vision",
  "Expression",
  "Expression 150",
  "Expression 2.0",
  "Expression 2024",
  "Expression 2026",
  "Expression 2028",
  "Expression 2034",
  "Expression 2036",
  "Expression 2038",
  "Expression 2048",
  "Expression 3.0",
  "Expression 3.2",
  "Expression 3.5",
  "Expression 4.2",
  "Freestyle 1522",
  "Freestyle 1527",
  "Grand Quilter Hobby 1200",
  "Hobby 1016",
  "Hobby 1020",
  "Hobby 1022",
  "Hobby 1030",
  "Hobby 1032",
  "Hobby 1040",
  "Hobby 1042",
  "Hobby 1122",
  "Hobby 1132",
  "Hobby 1142",
  "Hobby 1200",
  "Hobby 1200 Grand Quilter",
  "Hobby 301",
  "Hobby 303",
  "Hobby 307",
  "Hobby 309",
  "Hobby 4240",
  "Hobby 4250",
  "Hobby 4260",
  "Hobby A",
  "Hobby B",
  "Hobby K",
  "Hobbymatic 935",
  "Passport",
  "Performance 2054",
  "Performance 2056",
  "Performance 2058",
  "Performance 5.0",
  "Powerquilter 16.0",
  "Powerquilter p3",
  "Quilt 2027",
  "Quilt Ambition 2.0",
  "Quilt Expression 150 Anniversary Limited Edition",
  "Quilt Expression 2042",
  "Quilt Expression 2044",
  "Quilt Expression 2046",
  "Quilt Expression 2048",
  "Quilt Expression 4.0",
  "Quilt Expression 4.2",
  "Select 150",
  "Select 1520",
  "Select 1526",
  "Select 1528",
  "Select 1530",
  "Select 1536",
  "Select 1538",
  "Select 1540",
  "Select 1546",
  "Select 1548",
  "Select 2.0",
  "Select 2.2",
  "Select 3.0",
  "Select 3.2",
  "Select 4.0",
  "Select 4.2",
  "Smarter C 1100 pre",
  "Smarter C1100 Pro",
  "Synchrotronic 1229",
  "Tiptronic 1171",
  "Tiptronic 2010",
  "Tiptronic 2020",
  "Tiptronic 2030",
  "Tiptronic 2040",
  "Tiptronic 6110",
  "Tiptronic 6112",
  "Tiptronic 6120",
  "Tiptronic 6122",
  "Tiptronic 6150",
  "Tiptronic 6152",
  "Tiptronic 6230",
  "Tiptronic 6232",
  "Tiptronic 6250",
  "Tiptronic 6270",
  "Varimatic 6085",
  "Varimatic 6086",
  "Varimatic 6087"
]
,
    Prodigy: ["P2412","SS1709"],
    Qnique: ["Grace"],
    Riccar: [
  "2600",
  "2800/3300",
  "2900/3500",
  "2950",
  "3400",
  "3600",
  "4001",
  "4003",
  "414",
  "500",
  "515",
  "525",
  "555FA",
  "606",
  "650",
  "666FA",
  "800R",
  "805",
  "806/807",
  "808E",
  "8400",
  "8500",
  "888",
  "906E",
  "9150",
  "9160",
  "9600",
  "9700",
  "9800",
  "9900",
  "R551",
  "R552",
  "R700",
  "R751",
  "RE571",
  "RE581/RE591",
  "RM540",
  "RM570"
]
,
    Simplicity: [
  "S05 Quilt and Craft",
  "S180",
  "SA1100 American Denim",
  "SA1500 Creative Spirit",
  "SA1600 Liberty",
  "SA200 Pioneer II",
  "SA2200 Creative Spirit Plus",
  "SB700T",
  "SE1 Embroidery",
  "SE2 Embroidery",
  "SE3 Embroidery System",
  "Simplicity Embroidery",
  "SL1000",
  "SL1150",
  "SL1170",
  "SL1200",
  "SL12070",
  "SL1220",
  "SL1400",
  "SL1500",
  "SL1650",
  "SL237",
  "SL2507",
  "SL4700",
  "SL8020",
  "SL8130",
  "SL8220",
  "SL9000",
  "SL9130",
  "SL9150",
  "SL9240",
  "SW210",
  "SW2145",
  "SW240"
]
,
    Singer: [
  "1 One",
  "1+ One Plus",
  "101",
  "1030",
  "1036",
  "1040G",
  "1060",
  "1105",
  "1116",
  "1120",
  "1130",
  "115-1",
  "118",
  "1200",
  "1200 Futura Atheana",
  "1200 Touch-Tronic",
  "121C",
  "121D",
  "132Q",
  "1400Q",
  "1408 Promise",
  "1409 Promise",
  "1412 Promise",
  "15",
  "1500",
  "1507WC",
  "1512 Promise II",
  "1525",
  "160 Anniversay Addition",
  "1725",
  "1732",
  "1748",
  "185",
  "188K",
  "191D300A",
  "192",
  "2000",
  "2000 Futura Atheana",
  "2000 Touch-Tronic",
  "2001",
  "2001 Futura Atheana",
  "2001 Touch-Tronic",
  "2005",
  "2009 Athena",
  "201",
  "201-2",
  "2010",
  "2010 Superb",
  "206K",
  "206K25",
  "20U",
  "20U13",
  "20U33",
  "221",
  "2250",
  "2250 Tradition",
  "2259 Tradition",
  "2263",
  "2263 Simple",
  "2273 Esteem II",
  "2277 Tradition",
  "2282 Tradition",
  "237",
  "239",
  "247",
  "251",
  "2623",
  "2638",
  "2639",
  "2662",
  "2802",
  "2808",
  "2809",
  "281",
  "2810",
  "2818",
  "2852",
  "2858",
  "2859",
  "2868",
  "288",
  "2902",
  "290C",
  "2932",
  "2968",
  "301",
  "306K",
  "306K25",
  "306W",
  "3116 Simple",
  "319",
  "319K",
  "3210 Simple",
  "3221 Simple",
  "3223 Simple",
  "3229 Simple",
  "3232 Simple",
  "327",
  "328",
  "329",
  "3321",
  "3321 Talent",
  "3323 Talent",
  "3323S",
  "3323S Talent",
  "369W",
  "3709",
  "3722",
  "3810",
  "3820",
  "3825",
  "3962",
  "401",
  "401A",
  "401A Stylist",
  "403",
  "404",
  "4060 Futura",
  "4116",
  "413",
  "415 Stylist",
  "416",
  "418",
  "4205",
  "4205 Inspiration",
  "4206",
  "4206 Inspiration",
  "4210",
  "4210 Inspiration",
  "4212",
  "4212 Inspiration",
  "4220",
  "4220 Inspiration",
  "4228",
  "4228 Inspiration",
  "4411 Heavy Duty",
  "4423 Heavy Duty",
  "4432 Heavy Duty",
  "4443 Heavy Duty",
  "4452 Heavy Duty",
  "44S Classic Heavy Duty",
  "4562",
  "457 Stylist",
  "4613",
  "4617",
  "4623",
  "466",
  "476",
  "477",
  "478",
  "491D200",
  "491D300",
  "5 Futura Quintet",
  "500A",
  "503",
  "5040",
  "5050",
  "513",
  "514",
  "518",
  "522",
  "527",
  "531B",
  "533",
  "534",
  "538",
  "543",
  "5500 Fashion Mate",
  "5511 Scholastic",
  "5523 Scholastic",
  "5532 Heavy Duty Studio",
  "560",
  "5625 Stylist II",
  "591D200A",
  "591D300A",
  "600",
  "603",
  "604",
  "6100",
  "6180",
  "620",
  "6212",
  "6214",
  "6215",
  "6217",
  "6230",
  "6233",
  "6234",
  "6235",
  "625",
  "625 Touch and Sew",
  "626",
  "6268",
  "6276",
  "628",
  "629",
  "6305",
  "630E",
  "6310",
  "6314",
  "6318",
  "635",
  "636",
  "638",
  "639",
  "6408",
  "640E",
  "6412",
  "6416",
  "6423",
  "645",
  "646",
  "649",
  "6510",
  "6550",
  "66",
  "6700",
  "70 Seventy",
  "7005",
  "7020",
  "7043",
  "7100",
  "714",
  "7140 Fashion Mate",
  "7140 Symphonie VI",
  "717",
  "719",
  "7256 Fashion Mate",
  "7256CH",
  "7258 Stylist",
  "7285Q",
  "7285Q Patchwork",
  "7312",
  "7322",
  "734",
  "7350",
  "737",
  "7380",
  "7410",
  "7412",
  "7422",
  "7422 Advance",
  "7424",
  "7426",
  "7430",
  "7436",
  "7436 Ingenuity",
  "7442",
  "7444",
  "7444 Precision",
  "7446",
  "7448",
  "7462",
  "7462 Touch & Sew",
  "7463",
  "7463 Confidence",
  "7464",
  "7465 Confidence",
  "7466",
  "7466 Touch & Sew",
  "7467",
  "7467 Confidence",
  "7467S Confidence Stylist",
  "7468",
  "7469",
  "7469 Confidence",
  "7469Q Confidence Quilter",
  "7470",
  "7470 Confidence",
  "750",
  "755",
  "756",
  "7563",
  "758",
  "770",
  "774",
  "775",
  "776",
  "778",
  "8100",
  "814",
  "8280",
  "8280L",
  "834",
  "8500Q Modern Quilter",
  "8763",
  "8763 Curvy",
  "8767",
  "8768 Heritage",
  "8770",
  "8770 Curvy",
  "8780",
  "8780 Curvy",
  "8976",
  "900",
  "900 Futura Atheana",
  "900 Touch-Tronic",
  "90S Special Edition",
  "9100 Professional",
  "9100 Stylist",
  "9113",
  "9117",
  "9124",
  "9133",
  "9137",
  "9143",
  "920",
  "920 Futura Atheana",
  "920 Touch-Tronic",
  "9217",
  "9224",
  "9240",
  "925",
  "925 Futura Atheana",
  "925 Touch-Tronic",
  "9340 Signature",
  "9430",
  "9444",
  "9850",
  "9852",
  "9855",
  "9855-1",
  "9858 Facilita",
  "9860",
  "9868",
  "99",
  "9900",
  "9910",
  "9960",
  "9960 Quantum Stylist",
  "9970",
  "9980 Quantum Stylist",
  "9985 Quantum Stylist Touch",
  "CE-100",
  "CE-100 Futura",
  "CE-150 Futura",
  "CE-180 Futura",
  "CE-200",
  "CE-200 Futura",
  "CE-250 Futura",
  "CE-350 Futura",
  "CE150",
  "CE250",
  "CE350",
  "CG-500 Commercial Grade",
  "CG-550 Commercial Grade",
  "CG-590 Commercial Grade",
  "DSX",
  "DSX II",
  "EM 200",
  "ET-1",
  "Featherweight 221",
  "Featherweight 221J",
  "Featherweight 221K",
  "Featherweight 222",
  "Featherweight 222K",
  "FQ-4 Futura Quartet",
  "H74",
  "HD-102 Heavy Duty",
  "HD-105 Heavy Duty",
  "HD-110 Heavy Duty",
  "HD-118 Heavy Duty",
  "HD-205 Heavy Duty",
  "HD-205C Heavy Duty",
  "Imperial 7000",
  "Quantum 9940",
  "Quantum 9960",
  "Quantum L-500",
  "Quantum LE",
  "Quantum XL100",
  "Quantum XL1000",
  "Quantum XL150",
  "Quantum XL3400",
  "Quantum XL5000",
  "Quantum XL6000",
  "S18 Studio",
  "S800 Fashionista",
  "SE 340",
  "SEQS-6000 Futura Quartet",
  "SEQS-6700 Futura Quartet",
  "SES1000 Futura",
  "SES2000 Futura",
  "Stylist 774",
  "Touch Tronic 2010",
  "XL-400 Futura",
  "XL-420 Futura",
  "XL-550 Futura",
  "XL-580 Futura",
  "XL150 Quantum",
  "XL3400",
  "XL400"
]
,
    Sunshine: ["16", "24"],
    TinLizzie: [
  "18 ESP",
  "18 ESP Limited",
  "Ansley 26 ESP Limited",
  "RAM",
  "Sitdown"
]
,
    Viking: [
  "#1",
  "#1+",
  "100",
  "100Q",
  "1100",
  "1200",
  "185 optima",
  "200",
  "2000",
  "205",
  "210",
  "215",
  "225",
  "230",
  "250",
  "300",
  "3000",
  "310",
  "315",
  "320",
  "325",
  "330",
  "335",
  "340",
  "350",
  "360",
  "370",
  "400",
  "415",
  "425",
  "435",
  "445",
  "500",
  "530",
  "535",
  "540",
  "545",
  "550",
  "555",
  "600",
  "6019QC",
  "605",
  "6430",
  "715",
  "730",
  "735",
  "750",
  "750 Quilt",
  "755",
  "755 Quilt",
  "770",
  "775",
  "830",
  "835",
  "850",
  "855",
  "870",
  "950 E",
  "955 E",
  "Angelica",
  "Anna",
  "Daisy 310",
  "Daisy 315",
  "Daisy 320",
  "Daisy 325",
  "Daisy 330",
  "Daisy 335",
  "Designer Diamond",
  "Designer Diamond Royale",
  "Designer Epic",
  "Designer I",
  "Designer II",
  "Designer l USB",
  "Designer Royale",
  "Designer Ruby",
  "Designer SE",
  "Designer Topaz 20",
  "Designer Topaz 30",
  "Designer Topaz 40",
  "Diamond",
  "Emerald",
  "Emerald 183",
  "Emma",
  "Epic",
  "Facette 500/400",
  "Freesia 350",
  "Freesia 400",
  "Freesia 415",
  "Freesia 425",
  "Freesia 435",
  "Freesia 445",
  "Freesia 500",
  "Hugin",
  "Interlude 435",
  "Interlude 445",
  "Iris",
  "Jeans",
  "Juliet",
  "Lena",
  "Lily 530",
  "Lily 535",
  "Lily 540",
  "Lily 545",
  "Lily 550",
  "Lily 555",
  "Lisa",
  "Mega Quilter",
  "Mega Quilter 18",
  "Mega Quilter 18x8",
  "Opal",
  "Opal 670",
  "Opal 690",
  "Oscar",
  "Platinum 16",
  "Platinum 3000",
  "Platinum 715",
  "Platinum 730",
  "Platinum 735",
  "Platinum 750",
  "Platinum 755 Quilt",
  "Platinum 770",
  "Platinum 775",
  "Platinum 950E",
  "Platinum 955 E",
  "Platinum Plus",
  "Prelude 340",
  "Prelude 350",
  "Prelude 360",
  "Prelude 370",
  "Prisma 990",
  "Prisma 990 S",
  "Quilt Designer",
  "Quilt Designer II",
  "Romeo",
  "Rose",
  "Rose 600",
  "Rose 605",
  "Ruby",
  "Ruby Deluxe",
  "Sapphire",
  "Sapphire 835",
  "Sapphire 875Q",
  "Sapphire 930",
  "Sarah 205",
  "Sarah 210",
  "Sarah 215",
  "Sarah 225",
  "Sarah 230",
  "Sarah 250",
  "Scandinavia 100",
  "Scandinavia 200",
  "Scandinavia 300",
  "Scandinavia 400",
  "SLE 6570",
  "Sophia",
  "Topaz",
  "Topaz 25",
  "Victoria",
  "Viva"
]
,
    White: [
  "1066",
  "1405",
  "1466",
  "1505",
  "1563",
  "1620",
  "1717",
  "1866",
  "1955",
  "2221",
  "2360",
  "4042",
  "568",
  "656",
  "710",
  "769",
  "7700",
  "9800",
  "Stylemaker",
  "W3300",
  "W4400"
]
,

  };

  function showModels(brand) {
    const modelList = document.getElementById("modelList");
    modelList.innerHTML = ""; 
    modelList.classList.remove("hidden");

    modelMap[brand].forEach(model => {
      const li = document.createElement("li");
      li.textContent = model;
      modelList.appendChild(li);
    });
  }
</script>


  <p>Are we missing your machine brand or model? Please let us know here.</p>

	<section class="footer">
    <h3>MORE INFORMATION</h3>
    <p>
		<span style="color:#8847FF;">.</span> About us<span style="color:#8847FF;">.</span>  Instructions<span style="color:#8847FF;">.</span>  Terms of Service
    </p>
  </section>

   <div class="edu">
    <h2>Education Articles</h2>
    <a href="https://www.superiorthreads.com/education/bobbin-infographic">Bobbin shapes and styles</a>
    <a href="https://www.superiorthreads.com/education/bobbin-faq">Frequently asked questions about bobbins</a>
    <a href="https://www.superiorthreads.com/education/matching-bobbin-thread">Matching top and bobbin thread</a>
    <a href="https://www.superiorthreads.com/education/bobbin-tension-adjusted">When should bobbin tension be adjusted?</a>
  </div>

</BaseLayout>

